---
// Copyright © onWidget <https://github.com/onwidget>
// SPDX-License-Identifier: MIT
import type { ItemGrid as Props } from "~/types";
import { Icon } from "astro-icon/components";
import { twMerge } from "tailwind-merge";
import Button from "./Button.astro";

const { items = [], columns, defaultIcon = "", classes = {} } = Astro.props;

const {
    container: containerClass = "",
    // container: containerClass = "sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3",
    panel: panelClass = "",
    title: titleClass = "",
    description: descriptionClass = "",
    icon: defaultIconClass = "text-primary",
} = classes;
---

{
  items && items.length > 0 && (
    <div
      class={twMerge(
        `grid gap-8 gap-x-12 sm:gap-y-8 ${
          columns === 4
            ? 'lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2'
            : columns === 3
              ? 'lg:grid-cols-3 sm:grid-cols-2'
            : columns === 2
              ? 'sm:grid-cols-2 '
              : ''
        }`,
        containerClass
      )}
    >
      {items.map(({ title, description, icon, callToAction, classes: itemClasses = {} }) => (
        <div
          class={twMerge(
            'relative flex flex-col intersect-once intersect-quarter intercept-no-queue motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade',
            panelClass,
            itemClasses?.panel
          )}
        >
          {icon && [
            'buttons',
            'forms',
            'snackbars',
            'cards',
            'navigation',
            'appbar',
            'tooltips',
            'progress-indicators',
            'dialogs',
          ].includes(icon) && (
            <>
            {icon === 'buttons' && (
                <img src="/src/assets/images/icons/hand-click.svg" alt="Hand Click Icon" class="mb-2 w-10 h-10" />
              )}
              {icon === 'forms' && (
                <img src="/src/assets/images/icons/files.svg" alt="Hand Click Icon" class="mb-2 w-10 h-10" />
              )}
              {icon === 'snackbars' && (
                <img src="/src/assets/images/icons/bell-ringing.svg" alt="Loader Icon" class="mb-2 w-10 h-10" />
              )}
              {icon === 'cards' && (
                <img src="/src/assets/images/icons/play-card.svg" alt="Loader Icon" class="mb-2 w-10 h-10" />
              )}
              {icon === 'navigation' && (
                <img src="/src/assets/images/icons/navigation.svg" alt="Loader Icon" class="mb-2 w-10 h-10" />
              )}
              {icon === 'dialogs' && (
                <img src="/src/assets/images/icons/message-circle.svg" alt="Loader Icon" class="mb-2 w-10 h-10" />
              )}
              {icon === 'progress-indicators' && (
                <img src="/src/assets/images/icons/loader.svg" alt="Loader Icon" class="mb-2 w-10 h-10" />
              )}
              {icon === 'tooltips' && (
                <img src="/src/assets/images/icons/info-octagon.svg" alt="Loader Icon" class="mb-2 w-10 h-10" />
              )}
              {icon === 'appbar' && (
                <img src="/src/assets/images/icons/layout-navbar.svg" alt="Loader Icon" class="mb-2 w-10 h-10" />
              )}
            </>
          )}
          <div class={twMerge('text-xl font-bold', titleClass, itemClasses?.title)}>{title}</div>
          {description && (
            <p class={twMerge('text-muted mt-2', descriptionClass, itemClasses?.description)} set:html={description} />
          )}
          {callToAction && (
            <div class="mt-2">
              <Button {...callToAction} />
            </div>
          )}
        </div>
      ))}
    </div>
  )
}
