<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright © SixtyFPS GmbH <info@slint.dev> -->
<!-- SPDX-License-Identifier: MIT -->
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>home-automation</string>
    <key>CFBundleIdentifier</key>
    <string>dev.slint.home-automation</string>
    <key>CFBundleName</key>
    <string>Home Automation</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleIconFile</key>
    <string>slint-logo.icns</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
