*.rs    diff=rust
# These files are automatically checked by the build.rs
# With linguist-generated we can mark them as generated so they don't show up in the Github diff.
# https://docs.github.com/en/repositories/working-with-files/managing-files/customizing-how-changed-files-appear-on-github
tests/driver/rust/tests/*.rs linguist-generated
