Cargo.lock
tsconfig.tsbuildinfo
/target
node_modules
/tools/figma_import/target
/tools/figma_import/figma_output
*.code-workspace
/build
/_deps
.DS_Store
Pipfile.lock
/docs/astro/src/content/collections/enums/
/docs/astro/src/content/collections/structs/
/playwright-report

# Ignore all package-lock.json files
**/package-lock.json
# But keep these specific ones
!editors/vscode/package-lock.json

*.node
*.d.ts

.env
.envrc
__pycache__
