Cargo.lock
tsconfig.tsbuildinfo
/target
node_modules
tools/figma_import/target
tools/figma_import/figma_output
*.code-workspace
/build
/_deps
package-lock.json
.DS_Store
Pipfile.lock
docs/reference/src/language/builtins/enums.md
docs/reference/src/language/builtins/structs.md

*.node
