[workspace]
members = [
    'sixtyfps_runtime/corelib',
    'sixtyfps_runtime/corelib_macros',
    'sixtyfps_runtime/interpreter',
    'sixtyfps_runtime/rendering_backends/gl',
    'sixtyfps_runtime/rendering_backends/qt',
    'sixtyfps_runtime/rendering_backends/default',
    'sixtyfps_runtime/rendering_backends/testing',
    'sixtyfps_compiler',
    'sixtyfps_compiler/parser_test_macro',
    'api/sixtyfps-rs',
    'api/sixtyfps-rs/sixtyfps-macros',
    'api/sixtyfps-rs/sixtyfps-build',
    'api/sixtyfps-cpp',
    'api/sixtyfps-node/native',
    'api/sixtyfps-wasm-interpreter',
    'tools/compiler',
    'tools/fmt',
    'tools/lsp',
    'tools/syntax_updater',
    'tools/viewer',
    'examples/gallery',
    'examples/printerdemo/rust',
    'examples/printerdemo_old/rust',
    'examples/todo/rust',
    'examples/slide_puzzle',
    'examples/7gui',
    'examples/memory',
    'examples/plotter',
    'examples/imagefilter',
    'examples/imagescaling',
    'helper_crates/const-field-offset',
    'helper_crates/vtable',
    'helper_crates/vtable/macro',
    'xtask',
    'tests/doctests',
    'tests/driver/driverlib',
    'tests/driver/rust',
    'tests/driver/cpp',
    'tests/driver/nodejs',
    'tests/driver/interpreter',
    'docs/tutorial/rust/src',
]

default-members = [
    'sixtyfps_runtime/corelib',
    'sixtyfps_runtime/interpreter',
    'sixtyfps_runtime/rendering_backends/gl',
    'sixtyfps_runtime/rendering_backends/qt',
    'sixtyfps_runtime/rendering_backends/default',
    'sixtyfps_compiler',
    'api/sixtyfps-rs',
    'api/sixtyfps-rs/sixtyfps-build',
    'api/sixtyfps-node/native',
    'tools/compiler',
    'tools/fmt',
    'tools/lsp',
    'tools/syntax_updater',
    'tools/viewer',
    'examples/gallery',
    'examples/printerdemo/rust',
    'examples/printerdemo_old/rust',
    'examples/todo/rust',
    'examples/slide_puzzle',
    'examples/memory',
    'tests/doctests',
    'tests/driver/rust',
    'tests/driver/nodejs',
    'tests/driver/interpreter',
]

resolver = "2"

[profile.release]
lto = true
panic = "abort"

[profile.dev]
panic = "abort"
