build/
target/
node_modules/
binding.gyp
Cargo.lock
Makefile
package-lock.json

# Ignore the generated sources
# They will be committed to the slint-ui/tree-sitter-slint repo
# by the nightly workflow, but don't need to be committed in the monorepo.
src/parser.c
src/node-types.json
src/grammar.json
src/tree_sitter/alloc.h
src/tree_sitter/array.h
src/tree_sitter/parser.h

# Tests generated with ./test-to-corpus.py
test/corpus/gen

# Ignore generated artifacts
*.so
*.so.*
*.dylib
*.dll
*.o
*.obj
*.wasm
*.a
