---
// Copyright © SixtyFPS GmbH <info@slint.dev>
// SPDX-License-Identifier: MIT
---
<div
  class="relative z-50 dark text-muted text-xs sm:text-sm bg-black dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 flex gap-1 overflow-hidden px-2 sm:px-3 py-2 break-words"
>
  <span
    class="dark:bg-slate-700 bg-white/40 dark:text-slate-300 font-semibold px-1 py-0.5 text-xs mr-0.5 rtl:mr-0 rtl:ml-0.5 inline-block"
    >NEW</span
  >
  <a href="https://slint.dev/blog/material-comp-tech-preview" class="text-muted hover:underline dark:text-slate-400 font-medium"
    >Material Components Preview Announcement »</a>
</div>
