---
// Copyright © SixtyFPS GmbH <info@slint.dev>
// SPDX-License-Identifier: MIT
---
<div
  class="relative z-50 dark text-muted text-xs sm:text-sm bg-black dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 flex gap-1 overflow-hidden px-2 sm:px-3 py-2 break-words"
>
  <a href="https://slint.dev/blog/material-comp-1.0" class="text-muted hover:underline dark:text-slate-400 font-medium"
    >Material 3 Components Announcement »</a>
</div>
