---
// Copyright © SixtyFPS GmbH <info@slint.dev>
// SPDX-License-Identifier: MIT
---

<div
  class="dark text-muted text-sm bg-black dark:bg-transparent dark:border-b dark:border-slate-800 dark:text-slate-400 hidden md:flex gap-1 overflow-hidden px-3 py-2 relative text-ellipsis whitespace-nowrap"
>


  <a
    target="_blank"
    rel="noopener"
    class="ltr:ml-auto rtl:mr-auto ml-auto flex items-center"
    title="If you like Slint's Material Components, give us a star."
    href="https://github.com/slint-ui/material-components"
  >
    <img
      src="https://img.shields.io/github/stars/slint-ui/material-components"
      alt="GitHub stars"
      class="h-5 w-auto"
    />
  </a>
</div>
