@import 'figma-kit/styles.css';

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        sans-serif;
}

.copy-icon {
    cursor: pointer;
    font-size: 14px;
}

.copy-icon:hover {
    opacity: 0.7;
}

.dialog-frame {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.main-content {
    flex: 1;
    background-color: var(--figma-color-bg-secondary);
    border-radius: 4px;
    margin: 12px;
    display: flex; /* Add this */
    flex-direction: column;
    /* overflow: hidden; */
}

.dialog-frame-title {
    height: 30px;
    font-size: 12px;
    flex: 0 0 30px;
    color: var(--figma-color-text-secondary);
    border-bottom: 1px solid var(--figma-color-border);
    display: flex;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
    user-select: none;
}

.dialog-frame-content {
    position: relative;
    font-size: 12px;
    color: var(--figma-color-text-secondary);
    flex: 1;
    border-left: 1px solid var(--figma-color-border);
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
}


.dialog-frame-footer {
    height: 40px;
    flex: 0 0 40px;
    width: 100vw;
    border-top: 1px solid var(--figma-color-border);
    display: flex;
    align-items: center;
    padding: 0 16px;
    gap: 8px;
}

.code-snippet {
    width: 100%;
    font-size: 12px;
    white-space: pre-wrap;
    font-family: "Roboto Mono", Monaco, "Courier New", monospace;
    font-weight: 200;
    flex: 1;
    overflow-y: auto;
    overflow-x: auto;
    margin-left: 12px;
}

.hidden {
    display: none;
}
