html[data-theme="light"] {
    body {
        background-color: #fff;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #151D21;
    }
}

html[data-theme="dark"] {
    body {
        background-color: #151D21;
        background-image: url(https://slint.dev/assets/img/bg-dark.svg);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #fff;
    }

    --pst-color-background: transparent;
    --pst-color-on-background: transparent;
}

div.sidebar-primary-item:first-child {
    text-align: center;
}

div.header-article-item button.search-button-field {
    font-size: 0.9rem;
    display: inline flex;
    border: 1px solid var(--pst-color-border);
}

div.search-button__wrapper {
    display: none;
}

div.DocSearch-Logo {
    display: none;
}

.bd-search-container {
    display: none;
}

.bd-header-article .search-button {
    display: none;
}

div.DocSearch-Container {
    z-index: 1022;
}

@media (max-width: 750px) {
    header.DocSearch-SearchBar {
        padding-top: 4rem;
        ;
    }
}

div.cm-activeLine {
    background: transparent !important;
}

div.cm-focused div.cm-activeLine {
    background: rgba(255, 255, 255, 0.1) !important;
}
