[package]
name = "sixtyfps-lsp"
version = "0.1.6"
authors = ["SixtyFPS <info@sixtyfps.io>"]
edition = "2018"
license = "(GPL-3.0-only OR LicenseRef-SixtyFPS-commercial)"
description = "SixtyFPS LSP server"
repository = "https://github.com/sixtyfpsui/sixtyfps"
homepage = "https://sixtyfps.io"
categories = ["gui", "development-tools"]
keywords = ["lsp"]

[package.metadata.bundle]
name = "SixtyFPS Live Preview"
icon = ["../../vscode_extension/extension-logo.png"]

[[bin]]
name = "sixtyfps-lsp"
path = "main.rs"

[features]
sixtyfps-backend-qt = ["sixtyfps-interpreter/backend-qt"]
sixtyfps-backend-gl = ["sixtyfps-interpreter/backend-gl"]
x11 = ["sixtyfps-interpreter/x11"]
wayland = ["sixtyfps-interpreter/wayland"]
default = ["sixtyfps-backend-qt", "sixtyfps-backend-gl", "x11"]

[dependencies]
sixtyfps-compilerlib = { version = "=0.1.6", path = "../../sixtyfps_compiler"}
sixtyfps-interpreter = { version = "=0.1.6", path = "../../sixtyfps_runtime/interpreter", default-features = false }
sixtyfps-corelib = { version = "=0.1.6", path = "../../sixtyfps_runtime/corelib"}
sixtyfps-rendering-backend-default = { version = "=0.1.6", path="../../sixtyfps_runtime/rendering_backends/default" }
lsp-types = "0.91.0"
lsp-server = "0.5"
crossbeam-channel = "0.5"  # must match the version used by lsp-server
euclid = "0.22"
serde_json = "1.0.60"
serde = "1.0.118"
spin_on = "0.1"
once_cell = "1"
dunce = "1.0.1"
clap = { version = "3.0.5", features=["derive", "wrap_help"] }
