---
import "@astrojs/starlight/style/markdown.css";
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
    imagePath: string;
    imageAlt: string;
    imageWidth: number;
    imageHeight: number;
}
const { imagePath, imageAlt, imageWidth, imageHeight } = Astro.props as Props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/generated/*.{jpeg,jpg,png,gif}')
if (!images[imagePath]) { throw new Error(`"${imagePath}" does not exist in glob: "src/assets/generated/*.{jpeg,jpg,png,gif}"`); }
---

<div class="code-image-container">
    <div class="code-block">
        <slot/>
    </div>
    <div class="image-block">
        <Image src={images[imagePath]()} alt={imageAlt} />
    </div>
</div>

<style>
    .code-image-container {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .code-block {
        width: 80%; /* Reduced from 300px to accommodate the gap */
        overflow-x: auto;
    }
    .image-block {
        width: 100px;
        display: flex;
        align-items: center;
        margin-left: 20px; /* This creates the 20px space between code and image */
    }
    .image-block img {
        width: 100%;
        height: auto;
    }
</style>