---
import "@astrojs/starlight/style/markdown.css";
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
    imagePath: string;
    imageAlt: string;
    imageWidth: number;
    imageHeight: number;
    needsBackground?: boolean;

}
const { imagePath, imageAlt, imageWidth, imageHeight, needsBackground } = Astro.props as Props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/generated/*.{jpeg,jpg,png,gif}')
if (!images[imagePath]) { throw new Error(`"${imagePath}" does not exist in glob: "src/assets/generated/*.{jpeg,jpg,png,gif}"`); }
---

<div class="code-image-container">
    <div class="code-block">
        <slot/>
    </div>
    <div class={`image-block ${needsBackground ? 'screenshot-container' : ''}`}>
        <Image src={images[imagePath]()} alt={imageAlt} />
    </div>
</div>
