---
// Copyright © SixtyFPS GmbH <info@slint.dev>
// SPDX-License-Identifier: MIT
import type { Props } from "@astrojs/starlight/props";
import LastUpdated from "@astrojs/starlight/components/LastUpdated.astro";
---

<footer class="sl-flex">
	<div class="meta sl-flex">
		<p>Copyright © SixtyFPS GmbH</p>
		<LastUpdated {...Astro.props} />
	</div>
</footer>

<style>
	footer {
		flex-direction: column;
		gap: 1.5rem;
	}
	.meta {
		gap: 0.75rem 3rem;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 3rem;
		font-size: var(--sl-text-sm);
		color: var(--sl-color-gray-3);
	}
	.meta > :global(p:only-child) {
		margin-inline-start: auto;
	}
</style>
