.content {
    min-width: 50px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    padding: 8px;
    border: 1px solid #c0c0c0;
    border-top: none;
    background: white;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    font: var(--default-font);
}

.content > div {
    flex: 1 1 auto;
    border: 1px solid #505050;
    overflow: auto;
}

.content input {
    margin: 8px;
}

.editor .container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.editor .container .edit-area {
    flex-shrink: 1000;
    flex-grow: 1000;
}

.preview input {
    margin-top: 0px;
    margin-bottom: 0px;
}

.preview .preview-container {
    background-image: linear-gradient(
            45deg,
            var(--undefined-bg) 25%,
            transparent 25%
        ),
        linear-gradient(-45deg, var(--undefined-bg) 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, var(--undefined-bg) 75%),
        linear-gradient(-45deg, transparent 75%, var(--undefined-bg) 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    width: 100%;
    height: 100%;
    overflow: "auto";
}

.preview .menu-area {
    position: absolute;
    border: none;
    padding: 8px;
    z-index: 2;
}

.preview .error-area {
    display: none;
    border: none;
    position: absolute;
    width: 100%;
    top: 80%;
    overflow: hidden;
    z-index: 3;
}

.preview .error-message {
    background-color: var(--error-bg);
    color: var(--error-fg);
    padding: 10px;
}

.outline ul {
    padding-left: 1em;
    list-style-type: none;
}

.outline .outline-tree {
    margin: 4px;
}

.outline .outline-tree {
    padding-left: 4px;
}

.outline .outline-element {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
}

.outline .outline-element > span {
    display: block;
    user-select: none;
}

.outline .kind-class.outline-element span:before {
    font-family: "FontAwesome";
    content: "\f1b2 ";
    padding: 2px;
}

.outline .kind-struct.outline-element span:before {
    font-family: "FontAwesome";
    content: "\f0f2 ";
    padding: 2px;
}

.outline .outline-element .active {
    background: var(--highlight-bg);
    color: var(--highlight-fg);
}

.properties-editor .element-header {
    background: var(--highlight-bg);
    color: var(--highlight-fg);
    font-size: 140%;
    font-weight: bold;

    width: 100%;
    height: 50px;
}

.properties-editor .name-column {
    white-space: nowrap;
}

.properties-editor .value-column {
    width: 100%;
}

.properties-editor .properties-table {
    width: 100%;
}

.properties-editor .properties-table .group-header td {
    background-color: var(--highlight2-bg);
    color: var(--highlight2-fg);
    font-weight: bold;
}

.properties-editor .properties-table .undefined {
    background-color: var(--undefined-bg);
    color: var(--undefined-fg);
}

.properties-editor .properties-table input {
    margin: 0px;
    border: none;
    width: 100%;
}

.properties-editor .properties-table input.value-changed {
    color: var(--error-bg);
}

.welcome > div {
    padding: 1ex;
}

.dialog {
    font: var(--default-font);
}

.dialog .close_button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}

.dialog .button_row {
    padding-top: 20px;
    text-align: center;
}

.dialog.report_export_url .url {
    display: flex;
    align-items: center;
}
.dialog.report_export_url .copy_url {
    margin-left: 5px;
    padding: 5px;
}

.dialog.report_export_url .url .url_text {
    font-family: monospace;
}
