@import "@lumino/default-theme/style/index.css";
@import "./content.css";

/* Prefixes and what they help support:

    -webkit- ( OLD - iOS 6-, Safari 3.1-6, Chrome 21-28, Opera 15-16 )
    -moz- ( OLD - Firefox 19-27 )
    -ms- ( IE 10, 11 )

    For more information, visit: 
    https://caniuse.com/

*/

body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#menuBar {
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

#main {
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

#palette {
  min-width: 300px;
  border-right: 1px solid #dddddd;
}

#dock {
  padding: 4px;
}

.loader {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #3333ff;
}

.loader-image {
  width: 100px;
  animation: pulse 1s linear infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
