---
// Copyright © SixtyFPS GmbH <info@slint.dev>
// SPDX-License-Identifier: MIT
import type { Props } from "@astrojs/starlight/props";
import Default from "@astrojs/starlight/components/Footer.astro";
---
<div>
	<Default {...Astro.props}/>
	<slot />
	  <div class="meta sl-flex">
		<p>Copyright © SixtyFPS GmbH</p>
	</div>
</div>




