---
// Copyright © SixtyFPS GmbH <info@slint.dev>
// SPDX-License-Identifier: MIT

import { SLINT_VERSION } from "../utils/site-config.ts";

type linkID =
    | "slint-cpp-template-stm32h735g-dk.zip"
    | "slint-cpp-template-stm32h747i-disco.zip";

interface Props {
    id: linkID;

}

const { id } = Astro.props as Props;

const link = {
    "slint-cpp-template-stm32h735g-dk.zip": `https://github.com/slint-ui/slint/releases/download/v${SLINT_VERSION}/slint-cpp-template-stm32h735g-dk.zip`,
    "slint-cpp-template-stm32h747i-disco.zip": `https://github.com/slint-ui/slint/releases/download/v${SLINT_VERSION}/slint-cpp-template-stm32h747i-disco.zip`,
}[id];


---

<a href={link}><span>{id}</span></a>

