:root {
    /* Slint colors */
    --color_baby_blue: #667cff;
    --color_blue: #2379f4;
    --color_dark: #151d21;
    --color_dark_20: #d0d2d3;
    --color_dark_40: #a1a5a6;
    --color_dark_80: #444a4d;
    --color_dark_gray: #73777a;
    --color_dark_blue: #250ce8;
    --color_deep_indigo: #1f284d;
    --color_focus_blue: #3573d8;
    --color_gray: #e8e9e9;
    --color_ice_blue: #0db1ff;
    --color_light_blue: #f2f4ff;
    --color_light_gray_2: #b8bbbc;
    --color_light_purple: #99a8ff;
    --color_medium_gray: #939393;
    --color_purple: #6b0dff;

    --color_white: #ffffff;

    /* style properties */
    --error-bg: var(--color_purple);
    --error-fg: var(--color_light_blue);

    --highlight-bg: var(--color_focus_blue);
    --highlight-fg: var(--color_white);

    --highlight2-bg: var(--color_ice_blue);
    --highlight2-fg: var(--color_white);

    --undefined-bg: var(--color_dark_20);
    --undefined-fg: var(--color_dark);

    --default-font: 12px Helvetica, Arial, sans-serif;
}
